In [2]:
import pandas as pd
import os
import math

In [3]:
dataDir='./Data/'
filename='milano_cleaned_wSCORE.csv'

path = os.path.join(dataDir,filename)

In [5]:
df = pd.read_csv(filename)

C:\Users\Giammi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (123,125,126,128,129,130,131,132,222,223) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.shape

(5780, 229)

In [7]:
df = df[df.SCORE.notnull()]

In [8]:
df.shape

(5780, 229)

In [9]:
df['ScoreClass']=1

In [10]:
df[['SCORE','ScoreClass']].head(300)

         SCORE  ScoreClass
0    18.261460           1
1     3.306981           1
2     3.875747           1
3     2.872045           1
4     6.301846           1
5     7.891548           1
6     1.114614           1
7     1.694142           1
8     6.757442           1
9     1.738580           1
10    2.123393           1
11    0.994661           1
12    1.935192           1
13    0.538795           1
14    2.048167           1
15    4.383958           1
16    1.098014           1
17   15.419615           1
18    3.416942           1
19    2.069445           1
20    4.241117           1
21    0.114700           1
22    2.599311           1
23    5.740217           1
24    2.539232           1
25    7.989293           1
26    0.512461           1
27    2.276228           1
28    1.735143           1
29    3.176904           1
..         ...         ...
270   5.074030           1
271   0.348647           1
272   2.835841           1
273   8.283510           1
274   0.161171           1
275   5.834938           1
276   2.864115           1
277   0.729371           1
278   2.243113           1
279   1.369048           1
280   4.498774           1
281   1.402748           1
282   0.667242           1
283   1.011728           1
284   0.002634           1
285   0.019137           1
286   0.022680           1
287   0.974622           1
288   0.273635           1
289   0.138706           1
290   4.868303           1
291   5.576995           1
292   3.663552           1
293  12.383616           1
294   0.811442           1
295   6.271708           1
296   4.922167           1
297   1.510659           1
298   0.020325           1
299   0.395239           1

[300 rows x 2 columns]

In [11]:
tresholds=(1,2,5,100)

In [12]:
for i, row in df.iterrows():
    for index, el in enumerate(tresholds):
        if (row['SCORE']>el and row['SCORE']<tresholds[index+1]):
            df['ScoreClass'][i]=index+2
            break

C:\Users\Giammi\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [13]:
df[['SCORE','ScoreClass']]

          SCORE  ScoreClass
0     18.261460           4
1      3.306981           3
2      3.875747           3
3      2.872045           3
4      6.301846           4
5      7.891548           4
6      1.114614           2
7      1.694142           2
8      6.757442           4
9      1.738580           2
10     2.123393           3
11     0.994661           1
12     1.935192           2
13     0.538795           1
14     2.048167           3
15     4.383958           3
16     1.098014           2
17    15.419615           4
18     3.416942           3
19     2.069445           3
20     4.241117           3
21     0.114700           1
22     2.599311           3
23     5.740217           4
24     2.539232           3
25     7.989293           4
26     0.512461           1
27     2.276228           3
28     1.735143           2
29     3.176904           3
...         ...         ...
5750   5.962989           4
5751   5.265121           4
5752   1.204354           2
5753   5.081125           4
5754   5.780180           4
5755   1.937707           2
5756   5.323801           4
5757   2.212543           3
5758   5.217907           4
5759  10.073982           4
5760   3.720200           3
5761   9.771618           4
5762   0.930917           1
5763   4.073385           3
5764  22.510783           4
5765   3.024386           3
5766   1.371778           2
5767  11.207949           4
5768  12.792208           4
5769   4.309581           3
5770   1.124096           2
5771   3.051246           3
5772  13.956250           4
5773  10.469382           4
5774   7.269700           4
5775   2.824414           3
5776   1.818905           2
5777   6.119874           4
5778   5.498678           4
5779   7.187485           4

[5780 rows x 2 columns]

In [14]:
df.groupby('ScoreClass').count()

,cod_pz,visit:visit,ana:visits_carried_out,ana:standardised_visits,ana:gender,ana:age,ana:education,ana_fis:menarche,ana_fis:pregnancies_n,ana_fis:abortion_n,...,eco_art:steatosis_degree,eco_art:enlarged_liver,eco_art:aorta_calcifications,eco_art:epicardial_fat,eco_art:ea,eco_art:ea_low,eco_art:fe,eco_art:siv,eco_art:lbm,SCORE
ScoreClass,,,,,,,,,,,,,,,,,,,,,
1,1581,1581,1581,1581,1581,1581,1581,1581,1581,1581,...,1581,1581,1581,1581,1581,1581,1581,1581,1581,1581
2,927,927,927,927,927,927,927,927,927,927,...,927,927,927,927,927,927,927,927,927,927
3,1614,1614,1614,1614,1614,1614,1614,1614,1614,1614,...,1614,1614,1614,1614,1614,1614,1614,1614,1614,1614
4,1658,1658,1658,1658,1658,1658,1658,1658,1658,1658,...,1658,1658,1658,1658,1658,1658,1658,1658,1658,1658

In [15]:
filename="./milano_cleaned_wScoreClass.csv"

In [16]:
export_excel = df.to_csv (filename, index = None, header=True)